legend {
  color: white;
}

input {
  font-size: 16px;
  margin-bottom: 10px;
  color: black;
}

button {
  font-size: 16px;
  color: black;
}

.ng-touched.ng-valid {
  border: 2px green solid;
}

.ng-touched.ng-invalid {
  border: 2px red solid;
}

#info {
  margin-top: 20px;
}

a, a:hover {
  color: #f6b319; 
};
